<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-12 text-center section-sm">
        <a href="{{ site.BaseURL }}"><img src="{{ site.Params.footerLogo | absURL }}" class="img-fluid footerLogo"
            alt="{{ site.Title }}"></a>
      </div>
      <div class="col-md-6">
        <h5 class="font-weight-medium mb-4">Important Links</h5>
        <ul class="list-unstyled">
          {{ range site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>

      </div>
      <div class="col-md-6">
        <h5 class="font-weight-medium mb-4">Connect With Us</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"> <i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"> <i
                class="ti-email text-primary mr-2"></i> {{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
<div class="hitCounter">
  <script type="text/javascript" src="https://www.counters-free.net/count/87av"></script><br>
 <a href='https://dissertation-writingservice.com/'>dissertation-writingservice.com</a> <script type='text/javascript' src='https://whomania.com/ctr?id=e9b8804eb8499c1930f392052dd57f4cf82ce4e9'></script>
</div>
        
           <!-- Social Icons -->
        <ul class="list-inline">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>

      </div>

      <div class="col-lg-4 col-md-5 d-none">
        <h5 class="font-weight-medium mb-4">Contact us</h5>
        <form action="{{ site.Params.contact.formAction }}" method="POST">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Send Now</button>
        </form>
      </div>
    </div>



  </div>

  <section class="py-4 bg-gradient position-relative">
  <img src="/images/cta-overlay.png" class="img-fluid overlay-image" alt="">
    <div class="container acknowledgement">

      <div class="col-md-12">
        <div class="footer-logos">
          <img src="/images/japan.png" alt="People of Japan" style="height:80px; width:auto; margin:10px 50px;" />
          <img src="/images/beds.png" alt="BEDS" style="width:auto; height:70px; margin: 10px;">
          <img src="/images/jeef.png" alt="J.E.E.F" style="width:auto; height:70px; margin: 10px;">

        </div>
        <p style="text-align:center">
          This website has been developed under the Project on Livelihood Improvement for the Poor Rural Producers through Sixth Sector Industrialization around the Sundarbans in Bangladesh which is supported by the grant assistance for grassroots projects of Ministry of Foreign Affairs of Japan and this project is implemented by Japan Environmental Education Forum (JEEF) and Bangladesh Environment and Development Society (BEDS).

          </p>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-12 container text-center py-4">
      {{ site.Params.copyright | markdownify  }}
    </div>
  </div>
</footer>
<a class="bacToTop" href="#"><i class="ti-angle-up"></i></a>
<script src="https://cdn.jsdelivr.net/gh/nolimits4web/swiper@latest/package/js/swiper.min.js"></script>

<!--carousel-->
<script>
   var swiper = new Swiper('.swiper-container', {
     slidesPerView: 4,
     spaceBetween: 30,
     loop: true,
     breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 1,
      spaceBetween: 30
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 1,
      spaceBetween: 40
    },
    720: {
      slidesPerView: 3,
      spaceBetween: 10
    }
  },
     autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
     pagination: {
       el: '.swiper-pagination',
       clickable: true,
     },
     navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
   });
 </script>
{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}

{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with site.Params.googleAnalitycsID }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
(function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', '{{ . }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

{{ if site.Params.rating.enable }}
{{ "<!-- Product Ratings -->" | safeHTML }}
<script>
(function (d, t, e, m) {
  // Async Rating-Widget initialization
  window.RW_Async_Init = function () {
    RW.init({
      huid: "{{ site.Params.rating.websiteID }}",
      uid: "{{ site.Params.rating.publicKey }}",
      source: "website",
      options: {
        "size": "medium",
        "style": "oxygen",
        "isDummy": false
      }
    });
    RW.render();
  };
  // Append Rating-Widget JavaScript library
  var rw, s = d.getElementsByTagName(e)[0],
    id = "rw-js",
    l = d.location,
    ck = "Y" + t.getFullYear() +
    "M" + t.getMonth() + "D" + t.getDate(),
    p = l.protocol,
    f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
    a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
  if (d.getElementById(id)) return;
  rw = d.createElement(e);
  rw.id = id;
  rw.async = true;
  rw.type = "text/javascript";
  rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
  s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));

jQuery(document).scroll(function() {
  var y = jQuery(this).scrollTop();
  if (y > 800) {
    jQuery('.bacToTop').fadeIn();
  } else {
    jQuery('.bacToTop').fadeOut();
  }
});
</script>
{{ end }}
{{ if or (.Resources.Match "**.jpg") (.Resources.Match "**.png") }}
  <script>
    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    });

  </script>
  {{ end }}
