{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="row beta-notice">
    <div class="container">
      This is a beta version of this website
    </div>
  </div>
  <div class="container">
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL }}"><img class="img-fluid siteLogo" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      <div class="menuAndSocial">
        <div class="socialLinks">
          <span><a href="https://www.facebook.com/sharer/sharer.php?u={{ $.Page.Params.Permalink }}" class="text-dark"><i class="ti-facebook"></i></a></span>
          <span><a href="https://twitter.com/intent/tweet?url={{ $.Page.Params.Permalink }}&text=" class="text-dark"><i class="ti-twitter"></i></a></span>

        </div>

        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
          <i class="ti-menu"></i>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.BaseURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
            </li>
            {{ range site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>

      </div>
        </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
