.siteLogo{
  height: 80px;
  width: auto;
}
.footerLogo{
  height: 35px;
  width: auto;
}
#sec1{
  background: url(/images/sec1-bg.jpg);
  // background-image: linear-gradient(to left, transparent, white);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}
#sec2, #sec3{
  margin-top: 20px;
  text-align: center;
}
#sec3{
  h3{
    &::after{
      content: "";
      height: 2px;
      background: green;
      width: 80%;
    }
  }
}
.sec-1-overlay{
  background-image: linear-gradient(to bottom left, transparent, transparent, transparent, transparent, white, white);
  margin: 0;
  padding-bottom:50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation{
  background: rgba(white, .8) !important;
}
.navbar{
  justify-content: space-between;
}
.navbar-nav{
  background: rgba(192, 248, 156, .1);
}
.menuAndSocial{
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: flex-end;
}


.socialLinks{
  margin-left: 10px;
  margin-right: 10px;
}
// .navbar-toggler{
//   order: 2;
// }
// .socialLinks{
//   order: 0;
// }

// @media screen and (max-width: 640px){
//   .swiper-slide{
//     width: 100% !important;
//   }
// }
@media screen and (max-width: 768px){
  .siteLogo{
    height: 40px;
  }
  // .socialLinks{
  //   order: 0;
  // }
  // .navbar-toggler{
  //   order: 2;
  // }
  .menuAndSocial{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (max-width: 640px){
  img[alt="People of Japan"]{
    height: 60px !important;
width: auto;
margin: 10px 30px 10px 10px !important;

  }
  img[alt="BEDS"],img[alt="J.E.E.F"]{
    width:auto;
    height:45px !important;
    margin: 10px;
  }
}
 /*--carousel--*/

 .swiper-container {
       width: 100%;
       height: 100%;
     }

     .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;

       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
     }

.call-to-order{
  color: #5ab51e!important;
}
.beta-notice{
  background: green;
  color: white;
  text-align: center;
}
.footer-logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
text-align: center;
background: rgba(255, 255, 255, .62);
border-radius: 4px;
align-self: center;
}
.acknowledgement{
  display: flex;
    flex-direction: row;
    //border-top: 1px solid #dee2e6!important;
    .col-md-12{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.bacToTop{
  border-radius: 50%;
  padding: 10px;
  background: rgba(green, .7);
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
  &:hover{
    background: green;
    color: white;
  }
}
.sec1DownBtn{
  border-radius: 50%;
  padding: 10px;
  background: rgba(green, .7);
  color: white;
  position: absolute;
top: 90vh;
  left: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  &:hover{
    background: green;
    color: white;
  }
}
html {
  scroll-behavior: smooth;
}
.hitCounter{
  svg{
    width: 120px;
    height: 100px !important;
  }
  rect{
    stroke: none !important; 
  }
  text{
    font-size: 16px;
    &[y="38"]{
      transform: translateY(10px);
    }
    &[y="50"]{
      transform: translateY(20px);
    }
    &[y="62"]{
      transform: translateY(30px);
    }
  }
}
